                                                       /*  s t y l e     p u p l i c   */
*{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
     font-family: sans-serif; 
}
.home{
    background-image: url(../img/slider-02.jpg);
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
} 
.contenar{
    width: 75%;
    margin: auto; 
} 
.contenar2{
    width: 60%;
    margin: auto; 
}
.contenar3{
    width: 50%;
    margin: auto;
    }
.back{
    background-color: rgba(0, 0, 0, 0.8);
    height:100vh;
}
.home-contact{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.home-contact p{
    padding-bottom: 20px;
    font-size: 23px;
    color: white;
}
.contenar-ani{
    width: 100%;
    height: 30px;
    border-right: 3px solid rgb(255, 255, 255);
    overflow: hidden;
    animation-name: type;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.contenar-ani p{
        transform-style: flat;
}
@keyframes type{
        0%{width: 300px;transition: width 5s 5s;}
        25%{width: 200px;transition: width 4s 5s}
        50%{width:300px;transition: width 5s 5s}
        75%{width: 200px;transition: width 5s 5s} 
        100%{ width: 300PX;transition: width 5s 2s}
}
.home-contact h1{
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 48, 91);
}
/* nav  */
nav{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 150px 0 200px;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 5;
}
nav .logo{
        color: rgb(255, 48, 91);
    margin-top: 20px;
    font-size: 27px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
padding: 10px 12px;
    margin-top: 20px;
}
    nav ul span{
        padding: 10px 12px;
        margin-top: 20px;
}
nav ul li a, nav ul span a{
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration:0.5s ;
}
nav ul li:hover  a{
    color: rgb(255, 48, 91);
}
nav ul span a{
    color: rgb(255, 48, 91);
}
nav .minbar i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    text-align:right;
    padding-top: 20px;
    display: none;
}
#click{
display: none;
} 
                              /*   s e c t i o n   a b o u t   */
.about-contact{
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
}
.about .enter{
    width: 50%;
    padding-left: 100px;
}
.amg1_perant{
    width: 350px;
    height: 450PX;
    border: 8px solid rgb(74, 73, 73);
    border-radius: 8px; 
}
.amg1_perant .child img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.amg1_perant .child{
    position: relative;
    overflow: hidden;
    top: 20px;
    left: 20px;
}
.amg1_perant .child .fff{
    background-color:rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 450PX;
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    text-align: center; 
    padding-top: 70%;
    transition:all 1s 0s;
}
.amg1_perant .child .fff ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 450PX;
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    transition:all 1s 0s;
}
.fff ul li a i{
color: #fff;
padding:10px ;
transition-property: color;
font-size: 20px;
}
.child:hover .fff {
    top: 0;
}
.child:hover .fff ul{
    top: 0;
}
a.ico1:hover i{
    color:rgb(255, 48, 91);
}
a.ico2:hover i{
    color:rgb(255, 48, 91);
}
a.ico3:hover i{
    color:rgb(255, 48, 91);
}
a.ico4:hover i{
    color:rgb(255, 48, 91);
}

                                     /*    s  t   a  r  t     a   b  o  u  t */
.about .text2{
    width: 50%;
}
.about .text2 p {
    font-size: 16px;
    color: #333333;
    margin-top: 3px;
    padding-bottom: 3px;
    line-height:1.6;
}
.text2 p:first-child{
    color: rgb(255, 48, 91);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.about .text2 p b{
    color:#333333;
    font-size: 30px;
}

hr{
    margin-top: 25PX;
    border:black dashed 1px;
}
.text2 ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    color: #333333;
}
.text2 ul span{
    font-weight: bold;
    font-size: 15px;
}
.text2 ul li a{
    text-decoration: none;
    color: black;
}
.text2 ul li{
    list-style: none;
    padding-top: 15PX;
    width: 50%;
    font-size: 15px;
}
button{
    padding: 15px 30px;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 20px;
}

.buttony .col{
    background-color: rgb(255, 48, 91);
    border: 0;
}
.button1{
    transition-property:  background-color;
}
.button2{
    transition-property:  background-color;
}
.buttony .col a{
    text-decoration: none;
    color: #fff;
}
.buttony .col a i{
padding-left: 15px;
}
.button1:hover , .button2:hover{
    background-color: #EC2403;
}

.background{
    padding-top: 20px;
    background-color:#F1F1F1;

}
                             /*  t  I  t  L   E  __ 1 */
.title-1{
    padding-top: 100px;
}
.title-1 h2{
color: #333333;
position: relative;
font-size: 30px;
font-weight: bold;
width: 300px;
margin: auto;
padding-bottom: 15px;
text-align: center;
}
.title-1 h2::after{
content: "";
width: 60%;
height: 1px;
background-color: rgb(255, 48, 91);
position: absolute;
left: 20%;
bottom: 0;
}
.title-1 h2::before{
    content: "";
    width: 35%;
    height: 10px;
    position: absolute;
    left: 32.5%;
    bottom: -10%;
    border-bottom: 1px solid rgb(255, 48, 91);
    border-top: 1px solid rgb(255, 48, 91);
}
.our-service{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-service .d1,.our-service .d2 ,.our-service .d3 ,.our-service .d4{
text-align: center;
padding:50px 5px 50px 5px;
margin-left: 5px;
transition-property: all ;
transition-duration: 0.5s;
}
.our-service i{
    color:rgb(255, 48, 91) ;
    font-size: 30PX;
    padding-bottom: 30PX;
    transition-property: all ;
    transition-duration: 0.5s;
}
.our-service h3{
color: #333333;
    padding-bottom: 20PX;
}
.our-service P{
    color: #333333;
    line-height:1.6;
}
.d1:hover ,  .d2:hover , .d3:hover ,.d4:hover {
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5) ;
}
.d1:hover i, .d2:hover i ,.d3:hover i ,  .d4:hover i{
    transform: scale(1.5);
}
                            /* s e c t i o n     o u r    b l o g */
.youtube{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.youtube iframe{
width:100%;
height: 230px;
}
.youtube1{
    background-color: #fff;
    width: 32%;
    height: 100%;   
    padding-bottom: 50px;
}
.youtube2{
    background-color: #fff;
    width: 32%;
    height: 100%;  
    padding-bottom: 50px;  
}
.youtube3{
    background-color: #fff;
    width: 32%;
    height: 100%;
    padding-bottom: 50px;    
}
 .youtube p{
    line-height:1.7;
    padding: 20px 15px 20px 15px;
    color: #333333;
}
 .youtube h2{
    padding-top: 20px;
    padding-left: 15px;
    color: #333333;
}
 .youtube span{
   padding-left: 15px;
}
 .youtube span a{
    text-decoration: none;
    color: #333333;
 }
                  /*    s  e  c  t  i  o  n     c  o  n  t  a  c  t    */
form .inp{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
} 
form .inp input{
    width: 48%;
    height: 40px;
    border: #b1b1b1 solid 1px;
    border-radius: 4px;
    padding-left: 15px;
}
form .tex{
    padding: 0px 40px 0px 40px;
    width: 100%;
}
form .tex input {
    width: 100%;
    height: 40px;
    border: #b1b1b1 solid 1px;
    border-radius: 4px;
    padding-left: 15px;
}
form .tex textarea {
    width: 100%;
    height: 120px;
    border: #b1b1b1 solid 1px;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
}
form .text-area{
    padding:  40px 0 0px 0 ;
    width: 100%;
}
form .but-end{
    padding: 0px 40px 40px 40px;
    width: 30%;
}
form .but-end button a{
    text-decoration: none;
    color: #fff;
}
form .but-end button{
    background-color: rgb(255, 48, 91) ;
   border: none;
   transition-property:background-color;
   transition-duration:0.4s;
}
.but-end:hover button{
    background-color: #EC2403;
}
                             /*   t   o   t   a   l    */
.total-contact{
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    padding-top: 20PX;
    padding-bottom: 20PX;
}
.total i{
    color: rgb(255, 48, 91);
    font-size: 23px;
    padding-bottom: 15px;
}
.total h4{
    padding-bottom: 15px;
    font-size: 23px;
}
               /*  s  e  c  t  i  o  n     C  l  i  e  n  t ' s    F  e  e  d  b  a  c  k */
.feedback{
margin-top: 50px;
margin-bottom: 50px;
background-color:#F1F1F1;
display: flex;
padding:50px 20px 50px 20px;
}
.bath{
    width: 70%;
    color: #333333;
}
.bath ul{
display: flex;
padding-top: 10px;
}
.bath p{
 padding-top: 10px;
}
.bath p{
    padding-top: 10px;   
}
.bath h2{
    padding-top: 10px;  
    padding-bottom: 10px;  
}
.bath a{
    text-decoration: none;  
    color: #333333;
}
.bath a i{
    color: #333333;
}
.bath ul li i{
    color: gold;
}
.bath ul li{ 
list-style: none;
}
.feedimg{
   width: 30%;
   padding-left: 30px;
}
.feedimg img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
                        /* s  e  c  t  i  o  n      O  u  r      P  o  r  t  f  o  l  i  o   */
.our{
    padding-top: 30px;
    display: flex;
    width: 100%;
    padding-left: 30%;
}
.our button{
    border: none;
    background-color: #fff;
}
.our button a{
    text-decoration: none;
    color: #333333;
    font-size: 15px;
}
.bink button a{
    color:rgb(255, 48, 91);
}
.portfolio-img{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
} 

.portfolio1-perant{
    width: 350px;
    padding-bottom: 30px;
}
.portfolio-img img{
    /* position: relative; */
    width: 100%;
}
.portfolio1-chiled{
    position: relative;
}
.portfolio-icon1-lear{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transition-property:background-color;
    transition-duration: 0.5s;
    text-align: end;
    padding-top: 220PX;
    padding-right: 10PX;
}
.portfolio-icon1-lear:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.portfolio1-chiled .portfolio-icon1-lear a i{
color: rgb(255, 48, 91) ;
font-size: 25px;
display: none;
}
.portfolio1-chiled .portfolio-icon1-lear a {
    text-decoration: none;
}
.portfolio-icon1-lear:hover a i{
    display: inline;
}
                           /*  f  o  o  t  e  r   */
.last{
 background-color:#333333;
}                           
.fff ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 150px;
    width: 100%;
}
.end p{
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
.end p a{
    color:rgb(255, 48, 91) ;
}
